.container {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.products {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    align-items: center;
}   