.footer {
    height: 15vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    padding: 10px 0;
}

.footer h4 {
    color: rgba(255, 255, 255, .5);
    margin-bottom: 15px;
}

.footer .icon {
    font-size: 42px;
    color: rgba(255, 255, 255, .5);
    margin-right: 10px;
    transition: 300ms;
}

.footer .icon:hover {
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}