.product {
    min-height: 300px;
    max-width: 78%;
    margin-left: 2%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 10px;
}
